* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
ul,
ol {
  list-style: none;
}

.navbar {
  background-color: rgb(151, 252, 255);
}
.container {
  margin: 0 auto;
  width: 1240px;
}

img {
  width: 100%;
  display: block;
  border-radius: 50%;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.logo_link {
  display: flex;
  border-radius: 50%;
  width: 100%;
  box-sizing: border-box;
}
.logo_item {
  width: 80px;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* burger menu */

@media (max-width: 1241px) {
  .container {
    width: 1150px;
  }
  // .logo_item {
  //   width: 70px;
  // }
}

@media (max-width: 901px) {
  .container {
    width: 768px;
  }
  .logo_item {
    width: 5%;
  }
  .list_items {
    display: none;
  }
}
@media (min-width: 1300px) {
  .logo_link {
    width: 20%;
  }
  .logo_item {
    width: 20%;
  }
}
@media (min-width: 900px) {
  .burger__menu {
    display: block;
  }
}
