* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

.navbar {
  background-color: #97fcff;
}

.container {
  margin: 0 auto;
  width: 1240px;
}

.logotip {
  width: 100%;
  display: block;
  border-radius: 50%;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.logo_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo_item {
  width: 80px;
}

.logo_link_img {
  display: -ms-grid;
  display: grid;
  grid: 90px / auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
}

.drListOne,
.drListTwo,
.drListThree {
  position: relative;
  color: black;
}

.drListOne:hover,
.drListTwo:hover,
.drListThree:hover {
  color: #5454d4;
}

.drItemOne,
.drItemTwo,
.drItemThree,
.drListFour {
  padding: 20px 10px;
  width: 140px;
  background-color: white;
  display: none;
  position: absolute;
  -webkit-transform: translate(0%);
          transform: translate(0%);
  border: 1px solid #eae9f2;
  border-top: 3px solid #5454d4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
          box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
  color: black;
}

.link_navbar {
  color: black;
  text-decoration: none;
}

.drListOne:hover .drItemOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.drListTwo:hover .drItemTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.drListThree:hover .drItemThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* burger menu */
@media (max-width: 1241px) {
  .container {
    width: 1140px;
  }
  .container .list {
    width: 95%;
  }
}

@media (max-width: 1140px) {
  .container {
    width: 1040px;
  }
  .list_items {
    width: 30%;
  }
}

@media (max-width: 1041px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 910px) {
  .container {
    width: 770px;
  }
  .list_items {
    display: none;
  }
}

@media (max-width: 771px) {
  .container {
    width: 450px;
  }
}

@media (max-width: 451px) {
  .container {
    width: 375px;
  }
}

@media (max-width: 376px) {
  .container {
    width: 320px;
  }
}

@media (max-width: 321px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1300px) {
  .logo_link {
    width: 20%;
  }
  .logo_item {
    width: 20%;
  }
}

@media (min-width: 900px) {
  .burger__menu {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */