* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
ul,
ol {
  list-style: none;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  background-color: rgb(151, 252, 255);
}
.container {
  margin: 0 auto;
  width: 1240px;
}

img {
  width: 100%;
  display: inline-block;
  border-radius: 50%;
}

.logo_link {
  display: flex;
  border-radius: 50%;
  width: 100%;
  box-sizing: border-box;
}

.logo_item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.list_items {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* burger menu */

@media (max-width: 1240px) {
  .container {
    width: 1140px;
  }
  .logo_item {
    width: 30%;
  }
  .list_items {
    width: 70%;
  }
}
@media (max-width: 1141px) {
  .container {
    width: 1000px;
  }
}
@media (max-width: 1001px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 901px) {
  .container {
    width: 768px;
  }
  .logo_item {
    width: 5%;
  }
  .list_items {
    display: none;
  }
}
@media (min-width: 900px) {
  .burger__menu {
    display: block;
  }
}

@media (max-width: 769px) {
  .container {
    width: 425px;
  }
  .logo_item {
    width: 10%;
  }
}
