.container {
  width: 1240px;
  margin: 0 auto;
}

.order_section {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.order_card {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}
.order_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order_label {
  width: 100%;
  margin: 10px 0;
  border: none;
}
.order_input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
  border: 1px solid grey;
  color: rgb(41, 41, 41);
}
.order_textarea {
  width: 100%;
  resize: vertical;
  outline: none;
  border-radius: 5px;
  color: rgb(41, 41, 41);
  padding: 10px 20px;
}
.order_button {
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  background-color: rgba(11, 14, 170, 0.684);
  color: white;
}

.order_text {
  font-size: 18px;
}
.order_select {
  width: 100%;
}
.order_option {
  box-sizing: border-box;
  border: 1px solid blue;
  padding: 2px 0;
  margin: 3px 0;
}
