* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
img {
  display: none;
}
.laboratory_section {
  background-image: url(./img/Фавиконка.png);
  position: fixed;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .titel_laboratory {
      text-align: center;
      padding: 20px 0;
      padding-bottom: 40px;
      font-size: 40px;
    }
    .text_laboratory {
      display: flex;
      width: 100%;
      p {
        line-height: 40px;
        font-weight: 500;
        font-size: larger;
      }
    }
  }
}
