* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
img {
  display: none;
}
.laboratory_section {
  background-image: url(./img/Фавиконка.png);
  //   position: fixed;
  background-position: center;
  background-size: contain;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 38px;
    .titel_laboratory {
      text-align: center;
      padding: 20px 0;
      padding-bottom: 40px;
      font-size: 40px;
      color: white;
      background: rgb(90, 100, 106);
    }
    .text_laboratory {
      display: flex;
      width: 100%;
      margin-bottom: 50px;

      p {
        line-height: 40px;
        font-weight: 500;
        font-size: larger;
      }
    }
  }
}

@media (max-width: 395px) {
  .laboratory_section {
    .container {
      .text_laboratory {
        p {
          line-height: 20px;
          font-weight: 400;
          font-size: small;
        }
      }
    }
  }
}

@media (max-width: 395px) {
  .laboratory_section {
    .container {
      .text_laboratory {
        p {
          line-height: 15px;
          font-weight: 400;
          font-size: x-small;
        }
      }
    }
  }
}
@media (max-width: 395px) {
  .laboratory_section {
    .container {
      .text_laboratory {
        p {
          line-height: 13px;
          font-weight: 400;
          font-size: xx-small;
        }
      }
    }
  }
}
