html,
body {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}

// body {
//   text-rendering: optimizeLegibility;
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
//     Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// }

h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

div {
  text-align: center;
}

small {
  display: block;
}
.list {
  display: flex;
  flex-direction: column;
}
a {
  color: #343078;
  text-decoration: none;
}
@media (min-width: 769px) {
  .burger__menu {
    display: none;
  }
}
@media (max-width: 768px) {
  .burger__menu {
    display: block;
  }
}
