.equipment_section {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .left_item,
  .rigth_item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
