* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.infoarr {
  padding-top: 40px;
  padding-bottom: 50px;
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
}
@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
}
