* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 1240px;
}

.mH_section {
  padding-bottom: 40px;
  background-color: grey;
  background-repeat: no-repeat;
  background-size: auto;
}
.text_H {
  font-size: 18px;
  font-style: italic;
  margin-top: 10px;
  color: white;
  font-weight: 600;
}
.titel_mH {
  font-size: 45px;
  text-align: center;
  color: white;
}

@media (max-width: 1241px) {
  .container {
    width: 1140px;
  }
}

@media (max-width: 1141px) {
  .container {
    width: 1000px;
  }
}
@media (max-width: 1001px) {
  .container {
    width: 950px;
  }
}
@media (max-width: 951px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 901px) {
  .container {
    width: 800px;
  }
}
@media (max-width: 801px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 701px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 601px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 501px) {
  .container {
    width: 400px;
  }
}
