* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
.staff_section {
  .container {
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    b {
      font-size: 20px;
    }
  }
}

.staff_card {
  margin-top: 20px;
  width: 500px;
  img {
    display: none;
  }
}
@media (max-width: 521px) {
  .staff_card {
    width: 400px;
  }
}
@media (max-width: 421px) {
  .staff_card {
    width: 300px;
  }
}

@media (max-width: 311px) {
  .staff_card {
    width: 100%;
  }
}
