<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="./login.css" />
  </head>
  <body>
    <section class="login__section">
      <div class="container">
        <div class="cart">
          <nav class="navbar">
            <h2 class="navbar__titel">Login</h2>
          </nav>
          <form action="" class="cart__form">
            <label for="" class="cart__form__label">
              <input
                type="email"
                placeholder="email"
                required
                class="cart__form__label__input"
              />
            </label>
            <label for="" class="cart__form__label">
              <input
                type="password"
                placeholder="password"
                required
                class="cart__form__label__input"
              />
            </label>
            <label for="" class="cart__form__label btn__label">
              <button class="cart__form__label__button">sing in</button>
            </label>
          </form>
        </div>
        <div class="bottom__cart">
          <p>
            Agar ro'yxatdan o'tmagan bo'lsangiz <a href="#">sing up</a> orqali
            ro'yxardan o'ting
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
