* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rekvizit_card {
  padding: 20px 0;

  .head_hover {
    width: 400px;
    padding: 5px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 10px 10px 20px 1px gray;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.5s;
    img {
      width: 10%;
      padding: 2px;
      margin: 2px;
    }
  }
  .head_hover:hover {
    background-color: rgb(44, 44, 240);
    color: white;
    img {
      background: #fff;
    }
  }
}
