* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sail&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&family=Sail&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.rekvizit_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  .head_hover {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px 10px;
    box-shadow: 10px 10px 20px 1px gray;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.5s;
    margin-top: 25px;

    width: 400px;
  }
  .rek-img {
    width: 10%;
    padding: 2px;
    margin: 2px;
  }
  .head_hover:hover {
    background-color: rgb(44, 44, 240);
    color: white;
  }
  .texts_div {
    padding: 10px 20px;
    .p_yuad {
      font-size: 20px;
    }
  }
}
@media (max-width: 401px) {
  .rekvizit_card {
    padding: 0;
    .head_hover {
      width: 300px;
    }

    .rek-img {
      width: 15%;
    }
  }
}
@media (max-width: 318px) {
  .rekvizit_card {
    .head_hover {
      width: 100%;
    }
  }
}
